<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groups</title>
  <link rel="stylesheet" href="..//css/group.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="../css/header.css">
</head>
<body>
  <header>
    <div class="headercontainer">
      
      <nav class="navbar">
          <a href="../index.html">Home</a>
          <a href="../layouts/connect.html">Connect</a>
          <a href="../layouts/group.html">Groups</a>
          <a href="../layouts/about.html">About Us</a>
          <a href="../layouts/login.html" class="btn">Login</a>
          <a href="../layouts/signup.html"  class="btn">signup</a>
  
      </nav>
      <span class="material-symbols-outlined" id="menu">menu</span>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="yourgroup">
        <a href="#">Your Groups</a>
        <a href="#">Create Group</a>
      </div>
      <div class="othersgroupcont">
        <div class="groupsearchbar">
          <input type="text" placeholder="Search Group" id="Searchgroup">
        </div>

      </div>
  </main>
  <footer>
    <p>Contact Us At Email: your@email.com</p>
  </footer>
  <script src="../js/script.js"></script>
</body>
</html>
